* {
  padding: 0px;
  margin: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 5vw;
  background-color: grey;
}

.form-container {
  display: flex;
  padding: 1rem;
  background-color: white;
  gap: 2vw;
  width: 70%;
}

.steps {
  display: flex;
  flex-direction: column;
  /* padding-top: 5rem ; */
  padding: 5rem 2rem;
  background-image: url("assests/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;

  gap: 2vh;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5vw;
}

.index {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

/*  */

.content {
  display: flex;
  flex-direction: column;
  gap: 15vh;
  padding: 4rem 2rem;
  flex-grow: 1;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.form-description {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  position: relative;
}

.input-field input {
  padding: 0.75rem;
  /* border: 0px ; */
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 15px;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  visibility: hidden;
}

/* Page 02 */

.plans {
  display: flex;
  gap: 3vw;
}

.plan input {
  display: none;
}

.plan label {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.plan-duration {
  display: flex;
  justify-content: center;
}

.add-ons {
  display: flex;
  flex-direction: column;
}

.add-on {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.extra .extra-time {
  display: none;
}

.hidden {
  display: none;
}

.go-back-button {
  visibility: hidden;
}


 /* page 04 */

 .price-summary{
  display: flex ;
  flex-direction: column ;
  background-color: aqua;

  width: 70% ;

 }

 .price-summary .plan-container{
  display: flex ;
  justify-content: space-between;

  border-bottom: 1px solid gray ;
 }

 .price-summary .add-ons{
  display: flex ;
  flex-direction: column ;
 } 

 .price-summary .add-ons .add-on{
  display: flex ;
  justify-content: space-between ;
 } 

 .total{
  display: flex ;
  justify-content: space-between ;

  width: 70% ;
 }