*{

    margin: 0px ;
    padding: 0px ;

}

body{
    background-color: goldenrod ;

}

/* 

Grid Container
Grid items 

Grid Line 
Grid Cell 
Grid Track
Grid Area

*/

/*  */

.container{
     border: 6px solid black ;        
     display: grid  ;

     height:  100vh ;
     grid-template: repeat(3,200px) / repeat(3,300px) ;
     /* grid-template-columns: 1fr 2fr 1fr ; */
     /* Column width's */

     /* grid-template-rows: 100px 200px 100px ; */
     /* grid-template  -  Short hand for grif-template-cols and rpws*/
     /* gap: 5px 10px ; */
     /* justify-items: center ; */
      /* align-items: end ;  */

     /* place-items - shorthand for justify-items and align-items ; */
     justify-content: space-around;
     align-content: space-around;
     /* place-content */
}

.grid-item{
    color: white;
    font-size: 1.5rem ;
    padding: 1rem ;
    text-align: center ;

}

.item-01{
    background-color: blue;
}

.item-02{
    background-color: aqua;
}


.item-03{
    background-color: pink;
}

.item-04{
    background-color: yellow;
}

.item-05{
    background-color: red;
}

.item-06{
    background-color: brown;
}

.item-07{
    background-color: violet;
}

.item-08{
    background-color: green;
}

.item-09{
    background-color: cyan;
}
